/* selector universal se utiliza en css el * {aca van los atributos (1 por renglon) }
*{ ejemplo
}

/* comentario selector id"nombreidenticador" se usa en html en css se usa # */

#estudios {
    color: hotpink;
}
/* selector class (va dentro de la etiqueta de apertura)="segar" asi se ´pone en html, en css se utiliza el .{atributos} */
.segar {
    color: red;

}

body {
    color: blue; background-color: aqua;
    text-align: center;
    
}
h4 {
    color: red;
    text-align: center;

}
body {
    font-size: larger;

}
div p{
    color: aqua;
    font-size: 50px;
    font-weight: bold;
}
